@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1d2671, #c33764);
}


label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: #6c757d;
}

label input[type="checkbox"] {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 3px;
  background-color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

label input[type="checkbox"]:hover {
  background-color: #444; /* Color más claro al hacer hover */
  border-color: #1e90ff; /* Color de borde azul al hacer hover */
}

label input[type="checkbox"]:checked {
  background-color: #1e90ff; /* Color azul cuando está seleccionado */
  border-color: #1e90ff;
}

label input[type="checkbox"]:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(30, 144, 255, 0.8); /* Sombra azul suave al enfocar */
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.img {
  max-width: 100%;   /* Se ajusta al tamaño del contenedor */
  height: auto;      /* Mantiene la proporción de la imagen */
  width: 50px;      /* Define un ancho específico, puedes ajustarlo a tu necesidad */
}

.login-box {
  background-color: white;
  padding: 1vw 4vw 1vw 4vw;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 80vw;
  max-width: 400px; 
  margin: 0 auto; 
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabs button {
  background: none;
  border: none;
  color: #6C757D;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  transition: border-bottom 0.3s ease;
}

.tabs button.active {
  border-bottom: 2px solid #1e90ff;
}

.tabs button.reg {
  border-bottom: 2px solid #1e90ff;
}

.tabs button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: border-bottom 0.3s ease;
}

.tabs button.active {
  border-bottom: 2.5px solid #1e90ff; /* Azul fuerte para botón activo */
}

.tabs button.reg {
  border-bottom: 2.5px solid #1e90ff; /* Azul fuerte para botón activo */
}

.tabs button:hover {
  border-bottom: 2.5px solid rgba(245, 245, 245, 0.5); /* Azul más visible al hacer hover */
}

.login-btn:hover {
  background-color: #00aaff; /* Color de fondo al pasar el cursor */
}

.input-group {
  margin-bottom: 8px;
}

.input-group select{
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.input-group select:hover {
  background-color: #444; /* Color más claro al hacer hover */
}

.input-group select:focus {
  background-color: #444; /* Color más claro al enfocar */
  outline: none;
  box-shadow: 0 0 8px rgba(30, 144, 255, 0.5); /* Sombra azul suave al enfocar */
}

.input-group {
  margin-bottom: 15px;
  padding-bottom: 1px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: antiquewhite;
  color: white;
  font-size: 14px;
}

.input-group input::placeholder {
  color: #ccc;
}
.input-group input {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: antiquewhite;
  color: white;
  font-size: 14px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.input-group input:hover {
  background-color: #444; /* Color más claro al hacer hover */
}

.input-group input:focus {
  background-color: #444; /* Color más claro al enfocar */
  outline: none;
  box-shadow: 0 0 8px rgba(30, 144, 255, 0.5); /* Sombra azul suave al enfocar */
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 14px;
}

.input-group input::placeholder {
  color: #ccc;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: white;
  font-size: 12px;
}

.options a {
  color: #1e90ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.options a:hover {
  color: #87cefa;
}

.img img {
  max-width: 100%;
  height: auto;
  display: block;
  text-align: center;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #1e90ff;
  margin-bottom: 2rem;
  border: none;
  border-radius: 5px;
  color: #F3F4F6;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-btn {
  width: 100%;
  padding: 10px;
  background-color: #1e90ff;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color: #6495ed;
}
.login-btn:hover {
  background-color: #6495ed;
}

/*  RESPONSIVE CEL*/

h2{
  font-size: 0.8rem;
}

.input-group{
  font-size: 1rem;
  padding: 1px;
}
.tabs button{
  font-size: 1rem;
}
label{
  margin-bottom: 1rem;
  font-size: 0.9rem;
  margin-left:1rem ;
}
a{
  margin-right: 0.1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

/* login */
@media (min-width: 768px) {
  h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem; /* Aumenta el tamaño de fuente */
  }

}

@media (min-width: 1024px) {
  h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem; /* Aumenta más el tamaño de fuente */
  }
}

/* register */
@media (max-width: 480px) {
  .reg-box {
    width: 90vw; /* Se hace más ancho en pantallas muy pequeñas */
    padding: 5vw; /* Incrementa el padding para mejor espacio */
  }
  

}
