@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1d2671, #c33764);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #000;
  padding: 4vw;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 80vw;
  max-width: 400px; /* Para limitar el tamaño máximo */
  margin: 0 auto; /* Centrar en la página */
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabs button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  transition: border-bottom 0.3s ease;
}

.tabs button.active {
  border-bottom: 2px solid #1e90ff;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  font-size: 14px;
}

.input-group input::placeholder {
  color: #ccc;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  color: white;
  font-size: 12px;
}

.options a {
  color: #1e90ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.options a:hover {
  color: #87cefa;
}

.img img {
  max-width: 100%;
  height: auto;
  display: block;
  text-align: center;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #1e90ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #6495ed;
}

/*  RESPONSIVE CEL*/

h2{
  font-size: 0.8rem;
}

.input-group{
  font-size: 1rem;
  padding: 6px;
}
.tabs button{
  font-size: 1rem;
}
label{
  margin-bottom: 1rem;
  font-size: 0.9rem;
  margin-left:1rem ;
}
a{
  margin-right: 0.1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

/* login */
@media (min-width: 768px) {
  h2 {
    margin-bottom: 2.5rem;
    font-size: 1.5rem; /* Aumenta el tamaño de fuente */
  }


  
}

@media (min-width: 1024px) {
  h2 {
    margin-bottom: 3rem;
    font-size: 2.5rem; /* Aumenta más el tamaño de fuente */
  }
}

.login-btn:hover {
  background-color: #00aaff; /* Color de fondo al pasar el cursor */
}



