@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
nav{
  display: flex;
  color: white;
  align-items: center;
  background-color: #2563EB;
  justify-content: space-between;
  padding: 1%;

}
.principal{
  background-color: #F3F4F6;
}
.container-user{
  display: flex;
  color: white;
  align-items: center;
  gap: 9%;
}

.container-cuerpo{
  display: flex;
  color: #7180A0;
  width: 80%;
  height: auto;
}

.container-principal{
  padding: 2%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: start;
  min-height: 90vh;
  width: 100%;
  gap: 3px;
}

.container-button{
  width: 80%;
}
button{
  background-color: white;
  border-radius: 5px;
  padding: 1%;
  color: #2563EB;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button:active{
  background-color:  #2563EB;
  color: white;
}




.table-container {
  width: 80%;
  margin: 2% auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.nombres-table {
  width: 100%;
  border-collapse: collapse;
}

.nombres-table thead {
  background-color: #f8f9fa;
}

.nombres-table th, .nombres-table td {
  padding: 1%;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}

.nombres-table th {
  font-weight: bold;
  color: #6c757d;
}

.nombres-table td {
  color: #343a40;
}

.nombres-table tbody tr:hover {
  background-color: #f1f1f1;
}

.comprar-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.nombres-table th, .nombres-table td {
  font-size: 1vw;
}
/* css formulario empleados */
.contenedor-formularioper{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
border-radius: 10px;
padding: 3%;
color: #6c757d;
}
#registroForm {
/* border: 3px solid blue; */
width: 40%;
margin: 3%;
padding: 3%;
border-radius: 4px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2vw;
}
.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1vw;
}
.btn-registro{
background-color: #2563EB;
color: white;
width: 100%;
padding: 3%;
}


@media (max-width:900px) {
  .table-container {
    width: 98%;
  }
  .nombres-table th, .nombres-table td {
    font-size: 1.5vw;
  }
  .container-button{
    width: 99%;
  }

  /* formulario registro */

  
#registroForm {
/* border: 3px solid blue; */
width: 60%;


}

}
@media (max-width:650px) {
  .table-container {
    width: 99%;
  }
  .nombres-table th, .nombres-table td {
    font-size: 1.8vw;
  }
  button{
    background-color: white;
    border-radius: 5px;
    padding: 1%;
    color: #2563EB;
    font-size: 2vw;
  }
  h1 {
    font-size: 5.8vw;
  }
  .container-user img{
    width: 40%;
    height: auto;
  }
  .container-user{
    width: 19%;
  }
  .container-user h3{
    font-size: 3vw;
  }

/* formulario Registro */
  .form-group label {

    font-size: 3vw;
}

}
